

ul
{
	list-style: none;
}

body 
{
	background-color: azure;
}

a 
{
	color: #D49D0D;
	font-size: 26px;
	text-decoration: none;
}

a button
{
	position: relative;
	left: 0px;
	border-radius: 100px;
	border:none;
	

	min-width: max-content;
	min-height: max-content;
	width: 100%;
	height: 25px;
	display: flex;
	justify-content: left;
	align-items: left;

	text-decoration: none;
	color: azure;
	font-size: 18px;
	font-family: "Cambria";
	cursor: pointer;

	box-shadow: 0px 2px 0px azure;

	background: #f4c74f;
	background: -webkit-linear-gradient(to right, #D49D0D, #f4c74f);
	background: linear-gradient(to right, #D49D0D, #f4c74f);
}
a button:hover
{
	position: relative;
	left: 0px;
	border-radius: 100px;
	border:none;
	

	min-width: max-content;
	min-height: max-content;
	width: 100%;
	height: 28px;
	display: flex;
	justify-content: left;
	align-items: left;

	text-decoration: none;
	color: black;
	font-size: 18px;
	font-family: "Cambria";
	cursor: pointer;

	box-shadow: 0px 2px 0px black;

	background: #D49D0D;
	background: -webkit-linear-gradient(to right, #f4c74f, #D49D0D);
	background: linear-gradient(to right, #f4c74f, #D49D0D);
}

button.solo
{
	position: relative;
	left: 0px;
	border-radius: 100px;
	border:none;
	

	min-width: max-content;
	min-height: max-content;
	width: 100%;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;

	text-decoration: none;
	color: azure;
	font-size: 18px;
	font-family: "Cambria";
	cursor: pointer;

	box-shadow: 0px 2px 0px azure;

	background: #f4c74f;
	background: -webkit-linear-gradient(to right, #D49D0D, #f4c74f);
	background: linear-gradient(to right, #D49D0D, #f4c74f);
}
button.solo:hover
{
	position: relative;
	left: 0px;
	border-radius: 100px;
	border:none;
	

	min-width: max-content;
	min-height: max-content;
	width: 100%;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;

	text-decoration: none;
	color: black;
	font-size: 18px;
	font-family: "Cambria";
	cursor: pointer;

	box-shadow: 0px 2px 0px black;

	background: #D49D0D;
	background: -webkit-linear-gradient(to right, #f4c74f, #D49D0D);
	background: linear-gradient(to right, #f4c74f, #D49D0D);
}

.menu-label, .menu-cb 
{
	cursor: pointer;
	appearance: none;
	position: fixed;
	height: 32px;
	width: 32px;
	top: 20px;
	left: 15px;
	z-index: 4;
	/*color: #787d34;*/
}

.menu-nav {
	position: absolute;
	border: 2px solid azure;
	overflow: auto;
	top: 0;
	left: 0;
	height: 100%;
	width: 90%;
	max-width: 300px;
	padding-top: 10px;
	text-align: left;
	background: #787d34;
	z-index: 2;
	transform: translateX(-100%);
	transition: transform 0.5s linear;


	box-shadow: 7px 4px 19px -2px silver;

}


.menu-nav #bas
{

	margin-top: 80%;
}


.menu-nav #haut
{
	margin-top: 20px;
}

.menu-item {
	padding: .5em 20px;
	border-top: 1px solid #D49D0D;
}

.menu-cb:checked ~ .menu-nav 
{
	transform: translateX(0);
}

.menu-cote 
{
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
}

#titre
{
	position: relative;
	margin-left: 45px;
	color: azure;
}

#retour
{
	width: 40px;
	left: 33%;
}


